.sermon-wrapper {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto Slab', serif;

    .sermon {
        position: sticky;
        align-self: flex-start;
        margin: 0 1rem;
        top: 0;
        z-index: 100;
        min-width: min(50rem, 50vw); /* More responsive approach */
        max-height: 300rem;
    }

    .aside-left {
        z-index: 100;
        width: min(20rem, 25vw); /* More responsive approach */
        height: fit-content;
        padding: 1.5rem;
        border-right: #e2e3e4 2px solid;
        > div{
            padding:.5rem .5rem 0 .5rem;
            background-color: rgb(223, 223, 223);;
            border-bottom-left-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        
    }

    .aside-right {
        width: min(16rem, 25vw); /* More responsive approach */
        height: fit-content;
        border-left: #e2e3e4 2px solid;
        padding: 1.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}

.verses {

  li   {
        display: inline-block;
        margin: .5rem .5rem;
        line-break: strict;
    }
}

 .verse {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    list-style: none;
    background-color: var(--link-gray);
    padding: 0.25rem .5rem;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
    transition: position 0.3s ease;
    position: relative;
    top: 0px;
    width: 100%;
    border-bottom-left-radius: 8px ;        
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    &:hover {
        box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        top: 3px;

    }
 }