/* You can add global styles to this file, and also import other style files */
/* Global styles for the newsletter application */
// @import './assets/_variables.scss';
@import './assets/_reboot.scss';
@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


:root {
  --color-light-bg-primary: rgb(238, 238, 238);
  --color-white-text: rgb(255, 255, 255);
  --color-light-bg-secondary: rgb(118, 118, 118);
  --color-accent: #ff944d;
  --font-primary: 'Roboto Slab', serif;
  --font-color-primary: rgb(51, 51, 51);
  --font-color-secondary: rgb(102, 102, 102);
  --link-gray: rgb(0, 0, 0, 0.6);
}

#root {
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
  color: var(--font-color-primary);
  height: 100vh;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.icons {
  display: inline-block;
  height: 20px;
  width: 20px;
  vertical-align: middle;

&.back-icon {
    margin-top: -5px;
    margin-right: 10px;
    color: inherit;
    background-image: url('assets/icons/arrow_back_left_return_icon.svg');
  }

  &.full-icon {
      margin-top: -2px;
    margin-right: 2px;
    height: 12px;
    width: 12px;
    color: inherit;
    background-image: url('assets/icons/diary_icon.svg');
  }
}

.modal-header {
  padding: 6px 10px !important;
}

.modal-content {
  border-radius: 2px !important;
}

@keyframes bounceLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}




