.newsletter-header {
  height: 4rem;
  padding: 0 1rem;
  border-bottom: #e2e3e4 4px solid;
  background-color: var(--color-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 0.9rem;
  color: #0a0a23; // matches the dark navy text in the image

  .newsletter-left {
    text-transform: uppercase;
  }

  .newsletter-right {
    text-transform: uppercase;
  }
}