.preaching {
    display: flex;
    top: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    h2 {
        margin-bottom: 1rem;
        font-family: 'Roboto Slab', serif;
        text-align: center;
    }

    .plates {
        margin-top: 1rem;
        overflow: auto;
        height: 400px;
    }

    .plate {
        margin: 1rem 0;
        width: 100%;
        background-color: #f9f9f9;
        border: 1px solid #afafaf;
        border-radius: 4px;
        padding: 1rem;

        h4 {
            margin-bottom: 0.5rem;
            font-family: 'Roboto Slab', serif;
            text-align: center;
        }

        ul {
            list-style: disc;
            padding-left: 1.5rem;

            li {
                margin-bottom: 0.5rem;
                display: inline-block;
                font-size: 1rem;
                color: var(--font-color-secondary);
                .dash {
                    color: var(--color-accent);
                }
                &::after
                {
                    content: "";
                }
            }
        }
    }
}
