.calendar {
padding-top: 6rem;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: flex-start;
  .search {
    width: 30rem;
    margin: 3rem auto 0 auto;
  }

  .full {
    font-size: 0.8rem;
    color: var(--font-color-secondary);
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
  .search-hint {
    font-size: 0.8rem;
    color: var(--font-color-secondary);
    margin-top: 0.5rem;
  }
}

.react-calendar__tile.react-calendar__year-view__months__month, 
.react-calendar__tile.react-calendar__decade-view__years__year{
  padding: 1.3em 0.5em;
}
.highlighted {
  background-color: var(--color-accent);
  color: var(--color-white-text);
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

//Details panel styles
.details-content{
  background-color: var(--color-light-bg-primary);
  border-radius: 0.5rem;
  padding: .5rem;
  ul {
    list-style: none;
    margin-top: 1rem;
  }

  h5,p {
    text-align: center;
    margin-bottom: 0;
  }

  .topicList{
    max-height: 200px;
    overflow-y: auto;
    font-size: .85rem;

    ul {
      margin-top: 0;
    }
  }
  .forward-button {
    font-size: 1rem;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    line-height: 1.5;
    background-color: var(--color-accent);
    color: var(--color-white-text);
    padding: 0.5rem 1rem;
  }

  .secondary-button {
    font-size: 1rem;
    font-weight: 400;
    border: 1px solid var(--color-accent);
    border-radius: 3px;
    line-height: 1.5;
    background-color: transparent;
    color: var(--color-accent);
    padding: 0.5rem 1rem;
    
    &:hover {
      background-color: var(--color-accent);
      color: var(--color-white-text);
    }
  }

  .pastor-info {
    margin-top: .25rem 0;
    text-align: center;

    strong {
      display: block;
      font-weight: 600;
    }
  }

  .details-footer {
    position: absolute;
    bottom: 0;
    left: 1rem;
    right: 1rem;
    align-self: flex-end;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

  }
}


.rbt-input-multi {
  max-height: 157px;
  overflow-y: auto;
}

input,
.rbt-token {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--color-accent);
  background-image: none;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  .rbt-token-active {
    color: var(--color-white-text);
    background-color: var(--color-accent);
  }

  .rbt-token-label,
  .close {
    color: var(--color-white-text);
  }

  &:focus {
    color: #212529;
    background-color: #fff;
    border-color: var(--color-accent);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &::placeholder {
    color: #6c757d;
    opacity: 1;
  }

  &:disabled {
    background-color: #e9ecef;
    opacity: 1;
  }
}

.label {
  background-color: #6c757d;
}

.dropdown-item {
  &:hover {
    background-color: var(--color-accent);
    color: var(--color-white-text);
  }
}

 .topics-list {
  font-size: .7rem;
  overflow-y: auto;
  max-height: 30rem;
    em {
      color: var(--color-accent);
    }
    .list {
      margin-left: 10px;
      color: var(--font-color-secondary);
    }
  }